@model PolarisFamily.Models.Theme
@{
    ViewData["Title"] = "删除栏目";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="container">
    <h2>删除栏目</h2>
    <h3>确定要删除吗?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ThemeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThemeName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RecordUser)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecordUser)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RecordTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecordTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateUser)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateUser)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateTime)
            </dd>
        </dl>
        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="删除" class="btn btn-default" /> |
                <a asp-action="Index">返回上一层</a>
            </div>
        </form>
    </div>
</div>