@model IEnumerable<PolarisFamily.Models.Theme>
@{
    ViewData["Title"] = "栏目";
}
<div class="container">
    <h2>栏目</h2>
    <p>
        <a asp-action="Create">新建栏目</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    栏目名称
                </th>
                <th>
                    栏目描述
                </th>
                <th>
                    栏目图标网址
                </th>
            </tr>
        </thead>
        <tbody valign="top">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThemeName)
                    </td>
                    <td style="word-break:break-all">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="word-break:break-all">
                        @Html.DisplayFor(modelItem => item.RelativeUrl)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ThemeID">编辑</a> |
                        <a asp-action="Details" asp-route-id="@item.ThemeID">详细信息</a> |
                        <a asp-action="Delete" asp-route-id="@item.ThemeID">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>